.pytest_cache
/dist
/input
/params
/pickle
/results
/tmalign
/pytestemp
__pycache__
.DS_Store
/attention_visualizations
/attention_outputs
/morph_frames/
/structures
/env
*.a3m
*.fa
*_*_attention_visualizations
