.pytest_cache
/dist
/input
/params
/pickle
/results
/tmalign
/pytestemp
/data
__pycache__
.DS_Store
/attention_visualizations*
/attention_outputs*
/morph_frames/
/structures
/env
*_*_attention_visualizations
distogram_output*
.cache
